{% extends 'index.html' %}
{% block title %}이미지분석{% endblock %}
{% block activeClass %}
<!-- Javascript 추가로 필요하면 작성 -->
{% endblock %}
{% block cssblock %}
<style>
     h3 {
        margin:auto;
        text-align: center;
        margin-bottom: 50px;
    }
    #btnsort {
        margin:auto;
        text-align: center;
    }
    a {
        text-decoration: none;
    }
</style>
{% endblock %}

{% block content %}
    <div class="px-3 py-2 bg-white text-dark">
        <h3>이미지 분석</h3>
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            <table class="table">
                <tr>
                    <td><span class="input-group-text">이미지 분석 파일 올리기</span></td>
                    <td><input clss='form-control' type="file" name="files"></td>
                </tr>
            </table>
            <div id="btnsort">
                <input class='btn btn-primary' type="submit" value="업로드">
                <input class='btn btn-danger' type="reset" value="취소">
            </div>
        </form>
    </div>
{% endblock %}

